{
  "Parameters": {
    "DYNAMODB_TABLE_NAME":   "trak-dev",
    "ANTHROPIC_SECRET_NAME": "trak/anthropic-api-key",
    "JWT_SECRET_NAME":       "trak/jwt-secret",
    "STAGE":                 "dev",
    "AWS_REGION":            "us-east-1"
  }
}
